/*element*/
th{
    font-size: 20pt;
    color: pink;
    font-style: italic;
}

/*class*/
.judul{
    font-size: 20pt;
    color: black;
    font-style: oblique;
    text-align: center;
}

.atas{
    font-size: 20pt;
    color: white;
    font-style: oblique;
    background-color: black;
}

.bawah{
    font-size: 20pt;
    color: black;
    font-style: oblique;
    text-align: center;
}

.isi{
    border-color: black;
}



/*id*/
#input1{
    font-size: 10pt;
    color: red;
    font-style: oblique;
    text-align: center;
}

#input2{
    font-size: 10pt;
    color: red;
    font-style: oblique;
    text-align: center;
}

#input3{
    font-size: 10pt;
    color: red;
    font-style: oblique;
    text-align: center;
}